body{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    text-align: center;
    background-color: pink;
}
.gold{
    color: rgb(19, 121, 61);
}
#exam-button{
    font-weight: 900;
    background-color:rgb(43, 118, 204);
    text-decoration:none;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    color: antiquewhite;
}
a{
    text-decoration: none;
}
.link-color{
    color: antiquewhite;
}
.link-div{
    
}